@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
body {
  background: #16181c;
  font-weight: 400;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(200%) brightness(90%);
    color: #fff;
    display: flex;
    height: 7vw;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 1%;
    z-index: 5;
    margin: auto;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
a {
   font-size: 22px;
  color: #b03232;
  text-decoration: none;
}
a:hover {
  color: #892929;
}
.nav .logo {
  font-size: 22px;
  font-weight: 400;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 2000px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #16181c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

#google_translate_element {
  margin: 10px;
}

select {
  background: #114a29;
  font-family: 'Montserrat';
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: 300ms;
}

label {
  font-family: 'Inter';
}

select:active {
  transform: scale(1.05);
}

option {
  font-family: 'Inter';
  color: #fff;
  padding: 5px;
}

/* FONTS */
/* Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* ELEMENTS */
p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

iframe+p {
  padding: 10px;
}

p+sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.special-sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block !important;
  position: static !important;
  margin: 10px;
}

sub {
  font-family: "Roboto Mono", monospace;
  clear: both;
  display: block;
  position: static;
  margin: 10px;
}

body {
  background-color: ;
  width: 100%;
  color: #b03232;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

iframe {
  width: 60%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 50px;
}



}

/* IDS */

/* search */
#searchbar {
  width: 20%;
  background-color: #0000;
  border: #b03232 inset 2px;
  color: white;
}

#search-items {
  margin: 0 auto;
  width: 80%;
}

/* CLASSES */
/* navbar */
.nav-container {
  background-color: #0f0f0f;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0px;
  width: 100%;
  height: 22vh;
  box-sizing: border-box;
}

.nav-item:link {
  text-align: center;
  text-decoration: none;
  padding: 3.7vmin;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-item:hover {
  color: #892929;
}

.nav-item:visited {
  color: #892929;
}



/* search */
.search-item {
  width: 14.3vw;
  height: 14.3vw;
  border: #b03232 inset 2px;
  float: left;
  margin: 30px;
  font-size: 1vw;
}
#
.search-img {
  height: 11vw;
  width: 11vw;
  clip-path: border-box;
  margin: 0 auto;
}

img+a {
  display: block;
}

#taco>a {
  color: #0f0f0f;
}
.button { 
  #
  display: flex;
  height: 50px;
  padding: 0;
  background: #b03232;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #892929;
    border-radius: 10px;
  transition: all 0.2s ease !important;
  transform: scale(1);
    transform: scale(1.1);

}

.button:active {
  background: #b03232;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #0f0f0f;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}


.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  
  }

.social-icons .fa-brands {
  font-size: 1.2em;
}


.social-icons .fa-discord {
    display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 14px;
}

.social-icons .fa-youtube {
    display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 14px;
}

.social-icons .fa-github {
    display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.social-icons .fa-github:hover {
    border-radius: 10px;
  transition: all 0.2s ease !important;
  transform: scale(1);
    transform: scale(1.1);
  }

.social-icons .fa-youtube:hover {
    border-radius: 10px;
  transition: all 0.2s ease !important;
  transform: scale(1);
    transform: scale(1.1);
  }

.social-icons .fa-discord:hover {
    border-radius: 10px;
  transition: all 0.2s ease !important;
  transform: scale(1);
    transform: scale(1.1);
  
  }

.social-icons.icon-rotate .fa-brands:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}