@font-face {
    font-family: Lemonmilk;
    src: url(LEMONMILK.otf);
}


:root {
    --primary-color: rgb(70, 70, 70);
    --secondary-color: rgb(54, 54, 54);
    --accent-color: rgb(54, 54, 54);
}

.normal-accent {
    --accent-color: rgb(138, 43, 226);
    
}

.red-accent {
    --accent-color: rgb(255, 0, 0);
}

.blue-accent {
    --accent-color: rgb(38, 0, 255);
}

.yellow-accent {
    --accent-color: rgb(255, 232, 27);
}

.pink-accent {
    --accent-color: rgb(255, 34, 244);
}

.green-accent {
    --accent-color: rgb(41, 255, 13);
}

.lighttheme {
    --primary-color: rgb(207, 205, 205);
    --secondary-color: rgb(216, 216, 216);
    --box-color: rgb(224, 224, 224);
    --lighter-color: rgb(175, 175, 175);
    --scroll-bar: #fff;
    --offset-color: #6e6d6d;
}

.darktheme {
    --primary-color: rgb(70, 70, 70);
    --secondary-color: rgb(54, 54, 54);
    --box-color: rgb(63, 63, 63);
    --lighter-color: rgb(116, 116, 116);
    --scroll-bar: #313131;
    --offset-color: #fff;
}




body {
    font-family: Lemonmilk;
    background-color: var(--primary-color);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}



.navcontainer {
    background-color: var(--secondary-color);
    z-index: 4;
}

.navcontainer {
    background-color: var(--secondary-color);
}



.navcontainer {
    display: flex;
    background-color: transparent;
    gap: 1rem;
    list-style: none;
    position: fixed;
    top: 0;
    flex-wrap: nowrap;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
}

.navcontainer li{
    position: relative;
    top: 20px;
    padding: 0;
    margin-right: -6;

}

.navcontainer h1{
    position: relative;
    top: 0px;
    font-family: Lemonmilk;
    color: var(--accent-color);

    
}

.navcontainer img{
    position: relative;
    top: 13px;
    left: 5px;
    padding: 0;
    margin: 0;
}




.navbutton {
    border-radius: 0.25rem;
    background:transparent;
    text-align: center;
    font-family: Lemonmilk;
    width: 150px;
    height: auto;
    cursor: pointer;
    font-size: 20px; 
    transition-duration: 0.4s;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0;
    margin: 0;
}



.navbutton:hover {
    background-color: var(--accent-color);
    color: white;
}

.navlist {
    padding: 0;
    margin: 0;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3rem;
    z-index: 1;
}

.box {
    font-family: Lemonmilk;
    background: var(--box-color);
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    transition: all 500ms;
    overflow:hidden;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
 }

 .box:hover {
    box-shadow: var(--accent-color) 0px 0.35em 1.175em, var(--accent-color) 0px 0.175em 0.5em;
    transform: scale(1.1);
    z-index: 1;
 }
 

 img {
    width: 100%;
    height: 100%;
 }

 button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0px;
 }



 .settingsbuttons {
    display: flex;

 }



 

 .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .search {
    width: 25%;
    height: 25%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: solid 3px var(--accent-color);
 }

 .search {
    height: 30px;
 }

 .search::placeholder {
    font-family: Lemonmilk;
    color: var(--accent-color);
    font-size: 15px;
    text-align: center;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
    z-index: 3;
}

.dropdown * {
   box-sizing: border-box;
}

.select {
    background: var(--secondary-color);
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px var(--accent-color) solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;

}

.select-clicked {
    border: 2px var(--accent-color) solid;
    box-shadow: 0 0 0.8em var(--accent-color);
}

.select:hover {
    background: var(--primary-color);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--offset-color);
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);

}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--secondary-color);
    border: 0px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0 ,0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 3;
}

.menu li {
    font-family: Lemonmilk;
    color: var(--accent-color);
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    z-index: 3;
    cursor: pointer;

}

.menu li:hover {
    background: var(--primary-color);

}

.active {
    background: var(--primary-color);
}

.menu-open {
    display: block;
    opacity: 1;
}

.line {
    border: 1px solid var(--accent-color);
}

a {
    cursor: pointer;
}

.blogbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin: px;
}

.thing {
    font-family: Lemonmilk;
    background: var(--box-color);
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 200px;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow:hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.thing:hover {
    box-shadow: var(--accent-color) 0px 0.35em 1.175em, var(--accent-color) 0px 0.175em 0.5em;
    transform: scale(1.1);
    z-index: 1;
 }

 .welcome {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
 }




 ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scroll-bar)
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--accent-color); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent-color); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color); 
  }

  .blank {
    border-radius: 0.25rem;
    background:transparent;
    text-align: center;
    font-family: Lemonmilk;
    width: 100%;
    height: auto;
    cursor: pointer;
    font-size: 20px; 
    transition-duration: 0.4s;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0;
    margin: 0;
}

.blank .aaa {
    color: var(--accent-color);
    transition-duration: 0.4s;
}

.blank .aaa:hover {
    background-color: var(--accent-color);
    color: white;
}

footer {
    text-align: center;
    background-color: DarkSalmon;
    margin-top: auto;
    padding: 0 50px 0 50px;
    color: white;
    width: 100%;

  }

.dropdown1 {
    z-index: 3;
}

.dropdown2 {
    z-index: 2;
}